.header {
	width: 100%;
	max-width: 1280px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 40px;
}

.search {
	width: 800px;
}

.select {
	max-width: 300px;
}

.toggler {
	display: flex;
	align-items: center;
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
}

.card {
	min-width: 320px;
	display: flex;
	flex: 1 1 28%;
	gap: 30px;
	padding: 10px;
}

.itemImage {
	max-width: 150px;
	max-height: 150px;
	border-radius: 6px;
}

.itemInfo {
	display: flex;
	flex-direction: column;
}

.property {
	display: flex;
	align-items: center;
	gap: 6px;
}

span {
	color: gray;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
}
